@import url('https://fonts.cdnfonts.com/css/krona-one');
@import url('https://fonts.cdnfonts.com/css/assistant');

body {
    margin: 0;
}

#topNavBar-container {
    height: 102px;
    width: 100%;
    background-color: white;    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
}

#logo-name {
    display: flex;
}

#logo {
    height: 44px;
    width: 44px;
    padding-left: 62px;
}

#slotgeek {
    font-size: 20px;
    padding-left: 16px;
}

#searchBoxDiv {
    padding-left: 400px;
}

#searchBox {
    height: 35px;
    width: 304px;
    background-color: #EBEBEB;
    border-radius: 25px;
    border: solid #EBEBEB;
    padding-left: 20px;
}

#searchIcon {
    position: absolute;
    padding-top: 11px;
    transform: translateX(-190%);
    height: 17px;
    width: 17px;
}

#sideNavBar-container {
    font-family: 'Assistant', sans-serif;
    color: white;
    height: 100%;
    width: 255px;
    background-color: #0A9CEE;
    position: fixed;
}

#tabs-container {
    height: 80%;
}

.tabsName {
    font-weight: bolder;
    font-size: 24px;
    padding-left: 10px;
}

.tabsIcon {
    padding-left: 26px;
    height: 28px;
    width: 32px;
}

#homeIcon {
    padding-top: 26px;
}

#reservationsIcon {
    padding-top: 26px;
}

#homeTab {
    padding-top: 60px;
    display: flex;
}

#reservationsTab {
    padding-top: 30px;
    display: flex;
}

#accounts-container {
    height: 10%;
    width: 255px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #10547B;
    font-weight: bold;
}

#profile-container {
    padding-left: 30px;
    
}

#profile-icon {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#account-name {
    text-align: left;
}

#more-accounts-container {
    padding: 0;
    padding-right: 20px;
}

#more-icon {
    height: 20px;
    width: 20px;
}

#homepage-container {
    display: flex;
}

#laboratories-container {
    width: 100%;
    margin-top: 67px;
    margin-left: 330px;
    margin-right: auto;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 7rem;
    row-gap: 5rem;
    margin-bottom: 4rem;
}

.laboratory-card {
    display: flex;
    flex-direction: column;
}

.laboratory-picture {
    height: 202px;
    width: 360px;
}

.laboratory-name {
    font-weight: bold;
}

