@import url('https://fonts.cdnfonts.com/css/assistant');

body { 
    height: 100%;
    background-color: white; 
    color: black; 
    font-size: 16px; 
    font-family: 'assistant';
    font-weight: bolder;
} 
p { 
    margin: 0 0 15px; line-height: 24px; color: white; 
}
.container { 
    max-width: 960px; 
    height: 100%;
    margin: 0 auto; 
    padding: 20px;
    color: white;
}
.title_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.chairIcon {
    width: 75px;
    cursor: pointer;
}
/* ------------------- */
/* PEN STYLES      -- */
/* ----------------- */

/* MAKE IT CUTE ----- */
.tabs {
    position: relative;
    display: flex;
    min-height: 900px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.tabby-tab {
    flex: 1;
}

.tabby-tab label {
    display: block;
    box-sizing: border-box;
    /* tab content must clear this */
        height: 40px;
    
    padding: 10px;
    text-align: center;
    background: #10547B;
    cursor: pointer;
    transition: background 0.5s ease;
}

.tabby-tab label:hover {
    background: #1a7fb9;
}

.tabby-content {
    position: absolute;
    text-align: center;
    
    left: 0; bottom: 0; right: 0;
    /* clear the tab labels */
        top: 40px; 
    
    padding: 20px;
    border-radius: 0 0 8px 8px;
    background: #0A9CEE;
    
    transition: 
        opacity 0.8s ease,
        transform 0.8s ease		;
    
    /* show/hide */
        opacity: 0;
        transform: scale(0.1);
        transform-origin: top left;
    
}

/* Style the columns and align buttons in two columns */
.seat-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Align buttons in two columns */
}

.seat-column {
    flex-basis: calc(50% - 10px); /* Adjust as needed for spacing */
    margin: 5px;
}


/* MAKE IT WORK ----- */

.tabby-tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
    background: #0A9CEE;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .tabby-content {
    z-index: 1;
    
    /* show/hide */
        opacity: 1;
        transform: scale(1);
}

/* BREAKPOINTS ----- */

@media screen and (max-width: 767px) {
    .tabs { min-height: 400px;}
}

@media screen and (max-width: 480px) {
    .tabs { min-height: 580px; }
    .tabby-tab label { 
        height: 60px;
    }
    .tabby-content { top: 60px; }
    .tabby-content img {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}