<div id="topNavBar-container">
    <div id="logo-name">
        <a href="/">
            <img id="logo" src="/static/images/homepage/slotgeek-logo.svg">
        </a>
    </div>
    <div id="slotgeek">
        <a href="/">
            ReservaLabs
        </a>
    </div>
</div>